:root {
  --shadow-color: 38deg 94% 25%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px hsl(var(--shadow-color) / 0.34);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fca311;
  margin: 0;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0 10vw;
}

.header {
  text-align: center;
  margin: 3vh;
  padding: 1vh;
  font-size: 5.5vh;
  font-weight: 790;
  text-shadow: var(--shadow-elevation-high);
}

.content-list > li {
  font-family: "Playfair Display", serif;
  font-size: 3vh;
  font-weight: 650;
  color: #000000;
  text-shadow: var(--shadow-elevation-medium);
  padding: 0.3em;
}

ul {
  list-style: lower-greek;
}

li > a {
  color: #000000;
  text-decoration: none;
}

li > a:hover {
  text-decoration: underline;
}
